* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
   font-family: Arial;
   max-width: 100vw;
   max-height: auto;
}

.app {
   display: flex;
   overflow: scroll;
   width: 100vw;
   height: 100vh;
}

.bar-scroll {
   overflow-x: scroll;
}